__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/
*.sqlite3
.DS_Store
.settings/
.idea/
*.log
*.bak
*.swp
*.swo
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.cache/
*.db
*.dat
*.csv
*.npz
*.h5
